:root {
  --color-bg: #000;
  --color-fg: #fff;
  --brand: #fff;
  --muted: #cfcfcf;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  color: var(--color-fg);
  background: var(--color-bg);
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
